<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- ViewPart regisztráció -->
   <extension point="org.eclipse.ui.views">
      <view
            class="main.ui.views.ConfigGraphViewPart"
            id="ui.views.ConfigGraphViewPart"
            name="Spring Config Graph"
            icon="icons/tree.png"
            restorable="true">
      </view>
   </extension>

<!-- Újrafelhasználható feltétel: a kijelölt/aktuális elem *Config.java nevű fájl -->
   <extension point="org.eclipse.core.expressions.definitions">
      <definition id="SpringConfigVisualizerPlugin.isConfigJavaFile">
         <iterate ifEmpty="false" operator="or">
            <!-- Közvetlen IFile elem esetén (pl. Project/Package Explorer) -->
            <adapt type="org.eclipse.core.resources.IFile">
               <test property="org.eclipse.core.resources.name" value="*Config.java"/>
            </adapt>
            <!-- Package Explorer / Java Model elem esetén (ICompilationUnit) -->
            <adapt type="org.eclipse.jdt.core.ICompilationUnit">
               <test property="org.eclipse.core.resources.name" value="*Config.java"/>
            </adapt>
         </iterate>
      </definition>
   </extension>

<!-- Context Menu opció regisztrációja -->
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="SpringConfigVisualizerPlugin.showConfigTree"
               label="Show config tree"
               style="push">
         </command>
      </menuContribution>
   </extension>

   <!-- Handler hozzárendelés -->
   <extension point="org.eclipse.ui.commands">
      <command
            id="SpringConfigVisualizerPlugin.showConfigTree"
            name="Show config tree">
      </command>
   </extension>
   
   <extension point="org.eclipse.ui.handlers">
      <handler
            class="main.ui.handlers.Handlers"
            commandId="SpringConfigVisualizerPlugin.showConfigTree">
      </handler>
   </extension>

</plugin>