<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- ViewPart regisztráció -->
   <extension point="org.eclipse.ui.views">
      <view
            class="ui.views.ConfigGraphViewPart"
            id="ui.views.ConfigGraphViewPart"
            name="Spring Config Graph"
            restorable="true">
      </view>
   </extension>

   <!-- Context Menu opció regisztrációja -->
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="SpringConfigVisualizerPlugin.showConfigTree"
               label="Show config tree"
               style="push">
            <visibleWhen checkEnabled="false">
               <with variable="activeMenuSelection">
                  <iterate operator="or">
                     <adapt type="org.eclipse.core.resources.IFile">
                        <test property="org.eclipse.core.resources.name" value="*Config.java"/>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <!-- Handler hozzárendelés -->
   <extension point="org.eclipse.ui.commands">
      <command
            id="SpringConfigVisualizerPlugin.showConfigTree"
            name="Show config tree">
      </command>
   </extension>
   
   <extension point="org.eclipse.ui.handlers">
      <handler
            class="ui.handlers.handlers"
            commandId="SpringConfigVisualizerPlugin.showConfigTree">
      </handler>
   </extension>

</plugin>